// hero section start
.hero {
  
    color: white;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/contact-bg.jpg);
  height: 600px;
  max-width: 2000px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__div{
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__h1{
    font-size: 80px;
    margin: 0px 0px 8px;
    font-weight: 800;
}
.hero__span{
    font-size: 24px;
    margin: 10px 0px 0px;
    font-weight: 400;
}
// hero section end
// middle section start
.middle{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
}
.middle__p{
    min-height: 60px;
    max-width: 589px;
    font-size: 20px;
    margin: 32px 0px;
    line-height: 1.5;
    font-weight: 400;
}
input{
    width: 589px;
    min-height: 70px;
    border: none;
    font-size: 20px;
} input[type=text] {
    max-width: 600px;
    padding: 20px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 1s;
    outline: none;
  }
  input[type=text]:focus {
    border-bottom: 3px solid aqua;
  }
  input[type=email] {
    max-width: 600px;
    padding: 20px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 1s;
    outline: none;
  }
  input[type=email]:focus {
    border-bottom: 3px solid aqua;
  }
  textarea{
    max-width: 600px;
    padding: 20px 0px;
    margin: 8px 0;
    height: 200px;
    box-sizing: border-box;
    border-bottom: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 1s;
    outline: none;
  }
  textarea{
    border-bottom: 3px solid aqua;
  }
  @media screen and (max-width:992px) {
    input{
        width: 310px;
    }
    textarea{
        width: 310px;
    }
    
  }