.contact {
  display: flex;
  flex-direction: column;
  margin: auto;

  max-width: 1313px;
  min-height: 1148px;
  background-color: white;
  padding: 48px 0px;
  .contact__container {
    max-width: 1140px;
    min-height: 1052px;
    padding: 0px 48px;
    display: flex;
    flex-direction: column;
    margin: auto;

    .contact__div {
      display: flex;
      
      flex-direction: column;

      align-items: center;
      max-width: 1048px;
      height: 740px;
      padding: 48px;
      background-color: #f0f2f5;
      .contact__text {
        max-width: 948px;
        min-height: 150px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          max-width: 948px;
          width: 100%;
          min-height: 48px;
          font-size: 40px;
          margin-bottom: 8px;
        }
        p {
          max-width: 948px;
          width: 100%;
          font-size: 20px;
          min-height: 20px;
          margin-bottom: 12px;
        }
        .contact__icon {
          width: 50px;
          height: 50px;
          background-color: #0066ff;
          display: flex;
          justify-content: center;
          border-radius: 6px;
          margin-bottom: 6px;
          i {
            font-size: 30px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .contact__input {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 20px;
        gap: 20px;
        width: 500px;

        input {
          border-radius: 7px;
          max-width: 1500px;
          width: 100%;
          padding: 12px 6px;
          border: 1px solid black;
        }
        textarea {
          border-radius: 7px;
          max-width: 1500px;
          width: 100%;
          padding: 12px 6px;
          border: 1px solid black;
        }
        a {
          background-color: #0d6efd;
          border-radius: 6px;
          width: 200px;
          height: 50px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #f8f9fa;
          font-weight: 500;
        }
       
            }
          }
        }
      }
      .cont{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        .coll{
        width: 273px ;
        height: 163px;
        padding: 10px 24px;
          .col{
            width: 50px;
            height: 50px;
            background-color: #0066ff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            margin-bottom: 12px;
            
            i{
              color: #f0f2f5;
              font-size: 20px;
            }
          }
    
          h5{
           font-size: 20px;
           margin: 0px 0px 8px;
          
          }
          p{
            font-size: 16px;
            color: #6c757d;
            
          
    }
  }
}
@media screen and (max-width:992px) {
  .contact__input{
    max-width: 200px;
  }
  .contact__div{
  
    max-width: 200px;
  }
  .contact__container{
    margin: 0px 0px;
    padding: 0px 0px;
    max-width: 250px;
  }
}