.footer__div{
    background-color: black;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    height: 70px;
    .footer__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        ul{
            color: aliceblue;
            display: flex;
            gap: 10px;
            text-decoration: underline;
            cursor: pointer;

            
        }
    }
    .footer__text{
        color: white;
        padding-right: 100px;
    }
}
@media screen and (max-width:1992px) {
    .footer__container{
        display: flex;
        flex-direction: column;
    }
}
