.nav__container{
    font-size: 16px;
    min-height: 56px;
    background-color: #212529;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0px;
    color: aliceblue;
    .nav__a{
        margin-left: 20px;
        padding: 5px 0px;
        font-size: 20px;
    }
    a{
        color: aliceblue;
    }
    
}

.nav__ul{
    margin-right: 60px;
    ul{
        display: flex;
        flex-direction: row;
       
        
    }
  li{
 padding: 10px;

a{
    color: #FFFFFf8C;
}
  }
    max-width: 868px;
}
.hidden{
    display: none;
    background-color: #212529;
    height: 30px;
    width: 70px;
    color: #FFFFFf8C;
    font-size: 10px;
    padding: 10px 0px;
    text-align: center;
    border: 1px solid #FFFFFf8C;
    border-radius: 5px;
    margin-right: 20px;
    

}

  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #FFFFFf8C;
    padding: 0px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #212529;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    max-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    z-index: 1;
    a{
        color: #212529;
    }
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  @media screen and (max-width:992px) {
    .hidden{
        display: block;
    }
    .nav__ul{
        display: none;
    }
  }