header{
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    background-color: gray;
    position: fixed;
    z-index: 1;
    width: 100%;
    justify-content: center;
}