/* reset start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: inherit;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border: none;
  min-height: auto;
}

img {
  width: 100%;
}

/* reset end */
/* nav start */
.nav__container__btn {
  display: none;
}

nav {
  /* background-color: rgb(44, 62, 80); */
  color: aliceblue;
  height: 100px;
  width: 100%;
  text-decoration: none;
}

header {
  display: flex;
  /* width: 100vw; */
  height: 60px;
  align-items: center;
  background-color: gray;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 140px;
  text-decoration: none;
}

.nav__a {
  font-size: 16px;
  text-decoration: none;
}

.nav__container__li {
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 800px) {
  .nav__container__li {
    display: none;
  }

  .nav__container__btn {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 7px;
    padding: 10px;
    color: black;
  }

  nav {
    justify-content: space-between;
  }
}
/* nav end */
/* hero section start */
.hero {
  width: 100%;
  min-height: 737px;
  background-image: url("https://raw.githubusercontent.com/StartBootstrap/startbootstrap-grayscale/master/src/assets/img/bg-masthead.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding-top: 120px;
}
.hero__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.hero__h1 {
  line-height: 6.5rem;
  font-weight: 500;
  font-size: 6.5rem;
  letter-spacing: 0.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c757d;
  text-transform: uppercase;
}
.hero__h2 {
  max-width: 490px;
  min-height: 100px;
  text-align: center;
  color: #6c757d;
}
.hero__button {
  background-color: #64a19d;
  font-family: "Varella Round";
  padding: 15px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .hero__h1 {
    font-size: 4rem;
    letter-spacing: 0.1rem;
  }
}
/* hero section end  */
/* about section start */
.about {
  background-color: #212529;
  min-height: 670px;
  padding-top: 10rem;
}
.about__main {
  background-color: #212529;
}
.about__h2 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 500;
  margin: 0px 0px 24px;
}
.about__p {
  text-align: center;
  max-width: 600px;
  color: #ffffff80;
  margin: 0px 0px 80px;
}
.about__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__a {
  color: #64a19d;
  text-decoration: underline;
}
.about__img {
  max-width: 1044px;
  max-height: 294px;
  vertical-align: middle;
}
/* about section end  */
/* projects section start */
.projects {
  background-color: white;
  min-height: 1549px;
  padding: 160px 0px;
}
.projects1 {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 48px;
}
.projects1__img {
  max-width: 696px;
  max-height: 435px;
}
.projects1__h4 {
  font-weight: 500;
  margin: 0px 0px 8px;
  font-size: 24px;
}
.projects__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects1__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects1__p {
  text-align: center;
  font-weight: 400;
  max-width: 350px;
  font-size: 16px;
  padding: 0px 0px 0px 32px;
  color: #00000080;
}
.projects__row1__img {
  max-width: 522px;
  max-height: 372px;
}
.projects__row1__div {
  width: 522px;
  height: 372px;
  background-color: #212529;
  text-align: center;
  padding: 80px;
}
.projects__row1__h4 {
  color: white;
  margin: 0px 0px 8px;
  font-size: 24.24px;
  font-weight: 500;
}
.projects__row1 {
  display: flex;
  flex-direction: row;
}
.projects__row1__p {
  max-width: 362px;
  min-height: 64px;
  font-size: 14.14px;
  color: rgba(255, 255, 255, 0.5);
}
.projects__row2__img {
  max-width: 522px;
  max-height: 372px;
}
.projects__row2__div {
  width: 522px;
  height: 372px;
  background-color: #212529;
  text-align: center;
  padding: 80px;
}
.projects__row2 {
  display: flex;
  flex-direction: row;
}w
.projects__row2__p {
  max-width: 362px;
  min-height: 64px;
  font-size: 14.14px;
  color: rgba(255, 255, 255, 0.5);
}
.projects__row2__h4 {
  color: white;
  margin: 0px 0px 8px;
  font-size: 24.24px;
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  .projects1 {
    display: flex;
    flex-direction: column;
  }
  .projects__row1 {
    display: flex;
    flex-direction: column;
  }
  .projects__row1__div {
    padding: 48px;
  }
  .projects1__p {
    max-width: 214px;
    min-height: 108px;
  }
  .projects__row2 {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
  }
}
/* projects section end */
/* sign-up section start*/
.sign_up {
  width: 100%;
  min-height: 518.58px;
  background-image: url("	https://startbootstrap.github.io/startbootstrap-grayscale/assets/img/bg-signup.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  padding: 128px 0px;
}
.sign_up__div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.fa-paper-plane {
  color: white;
  font-size: 32px;
  width: 32px;
  height: 32px;
  margin: 0px 0px 8px;
}
.sign_up__h2 {
  margin: 0px 0px 48px;
  color: white;
}
input {
  max-width: 492px;
  height: 59px;
  padding: 20px 32px;
  border: none;
  border-radius: 6px;
}
.sign_up__enter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.sign_up__button {
  max-width: 187px;
  height: 59px;
  padding: 0px 12px;
  color: white;
  background-color: #64a19d;
  border-radius: 6px;
}
@media screen and (max-width: 800px) {
  input {
    max-width: 122px;
  }
}
/* sign-up section end */
/* contact section start */
.contact {
  padding: 80px 0px 0px ;
  background-color: #212529;
  min-height: 493px;
}
.contact__container{
  display: flex;
  flex-direction: row;
  margin: 0px 61.5px;
  padding:0px 48px ;
  max-width: 1140px;
  height: 329.34px;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.card{
  max-width: 364px;
  height:201.34px;
  padding: 0px 24px;
}
.card__container{
max-width:316px ;
height: 201.34px;
background-color: white;
text-align: center;
border-bottom: 4px solid #64a19d;
padding: 24px 0px;
border-radius: 6px;
justify-content: space-around;
}
.card__text{
  max-width: 316px;
  height:149px ;
  padding: 16px;
}
.card__hr{
  margin:24px 118px ;
  height: 4px;
  width: 48px;
  border-color: #64a19d;
  background-color: #64a19d;
  border-width: 0.25rem;
}
.card__icon{
  color: #64a19d;
  margin: 0px 0px 8px;
  font-size: 16px;
}
.card__h4{
 font-size: 12.8px;
 letter-spacing: 0.15rem;
 text-transform: uppercase;
 font-weight: 500;
}
.card__p{
  color: #00000080;
}
.card__a{
  color: #64a19d;
}
.icons{
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 20px; 
}
.twitter{
  text-align: center;
  height: 20px;
  width: 24px;
  border-radius: 50%;
  line-height: 8px;
  background-color: #00000080;
  color:rgba(255, 255, 255, 0.5);
}
@media screen and (max-width:800px) {
  .contact{
    display: block;
  }
}
/* contact section end */
/* footer start */
.Copyright{
  background-color: #212529;
  min-height: 181px;
}
.footer__div{
  padding: 80px 0px;
  text-align: center;
}
/* footer end */
