* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  line-height: 1.2;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.nav__container {
  font-size: 16px;
  min-height: 56px;
  background-color: #212529;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0px;
  color: aliceblue;
}
.nav__container .nav__a {
  margin-left: 20px;
  padding: 5px 0px;
  font-size: 20px;
}
.nav__container a {
  color: aliceblue;
}

.nav__ul {
  margin-right: 60px;
  max-width: 868px;
}
.nav__ul ul {
  display: flex;
  flex-direction: row;
}
.nav__ul li {
  padding: 10px;
}
.nav__ul li a {
  color: rgba(255, 255, 255, 0.5490196078);
}

.hidden {
  display: none;
  background-color: #212529;
  height: 30px;
  width: 70px;
  color: rgba(255, 255, 255, 0.5490196078);
  font-size: 10px;
  padding: 10px 0px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5490196078);
  border-radius: 5px;
  margin-right: 20px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.5490196078);
  padding: 0px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #212529;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  max-width: 500px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
}
.dropdown-content a {
  color: #212529;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 992px) {
  .hidden {
    display: block;
  }
  .nav__ul {
    display: none;
  }
}
.hero {
  background-color: #212529;
  min-height: 584px;
  padding: 48px 48px;
}

.hero__div {
  display: flex;
  margin: 0px 60.5px;
}

.hero__text {
  max-width: 636px;
  padding: 0px 24px;
  background-color: #212529;
  margin: 30px 0px;
}
.hero__text h1 {
  color: aliceblue;
  font-size: 48px;
  margin: 0px 0px 8px;
}
.hero__text p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5019607843);
  margin: 0px 0px 24px;
}
.hero__text .hero__a a {
  font-size: 20px;
  color: #f8f9fa;
  padding: 8px 24px;
  max-width: 150px;
  width: 100%;
  min-height: 49px;
}
.hero__text .hero__a .hero__btn1 {
  background-color: #0d6efd;
  border: none;
  border-radius: 7px;
  margin: 0px 16px 0px 0px;
}
.hero__text .hero__a .hero__btn2 {
  border: 1px solid #f8f9fa;
  border-radius: 7px;
}
.hero__text .hero__a .hero__btn2:hover {
  background-color: #f8f9fa;
  color: #212529;
  transition: 0.4ms;
}

.hero__img {
  padding: 0px 24px;
}
.hero__img img {
  border-radius: 7px;
}

@media screen and (max-width: 992px) {
  .hero__div {
    display: flex;
    justify-content: center;
    margin: 0px 0px;
  }
  .hero__text {
    margin: 0px 0px;
  }
  .hero__img {
    display: none;
  }
  .hero__a {
    display: flex;
    flex-direction: column;
  }
  .hero__a .hero__btn2 {
    margin-top: 10px;
  }
}
.better__way {
  padding: 48px 0px;
  max-width: 1441px;
  min-height: 540px;
}

.better__div {
  display: flex;
  max-width: 1320px;
  min-height: 336px;
  margin: 48px 37.5px;
  padding: 0px 48px;
  font-weight: 400;
}
.better__div .better__div__div {
  max-width: 424px;
  min-height: 336px;
  padding: 0px 24px;
}
.better__div .better__box {
  max-width: 848px;
  min-height: 336px;
}
.better__div .better__box .better__row {
  display: flex;
}
.better__div .better__box .better__row1 {
  max-width: 424px;
  min-height: 144px;
  margin: 0px 0px 48px;
  padding: 0px 24px;
  line-height: 1.2;
}
.better__div .better__box .better__row1 h2 {
  font-size: 32px;
  max-width: 376px;
  min-height: 24px;
  margin: 0px 0px 8px;
}
.better__div .better__box .better__row1 .better__icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d6efd;
  border: none;
  border-radius: 6px;
  margin: 0px 0px 16px;
}
.better__div .better__box .better__row1 .better__icon i {
  font-size: 30px;
  color: #f8f9fa;
}
.better__div .better__row2 {
  max-width: 424px;
  min-height: 144px;
  padding: 0px 24px;
  line-height: 1.2;
}
.better__div .better__row2 h2 {
  font-size: 32px;
  max-width: 376px;
  min-height: 24px;
  margin: 0px 0px 8px;
}
.better__div .better__row2 .better__icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d6efd;
  border: none;
  border-radius: 6px;
  margin: 0px 0px 16px;
}
.better__div .better__row2 .better__icon i {
  font-size: 30px;
  color: #f8f9fa;
}

@media screen and (max-width: 992px) {
  .better__div {
    display: flex;
    flex-direction: column;
    min-height: 33px;
  }
  .better__div .better__div__div {
    min-height: 40px;
    margin: 0px 0px 48px;
  }
  .better__box .better__row {
    display: flex;
    flex-direction: column;
  }
  .better__box .better__row .better__row1 {
    max-width: 501px;
  }
  .better__box .better__row .better__row2 {
    max-width: 501px;
  }
  .better__box .better__row .box3 {
    margin: 0px 0px 48px;
    padding: 0px 24px;
  }
}
.Pomodoro {
  max-width: 2000px;
  min-height: 364px;
  background-color: #f8f9fa;
  padding: 48px 0px;
}
.Pomodoro .Pomodoro__container {
  display: block;
  min-height: 172px;
  padding: 0px 48px;
  margin: 48px 60.5px;
  display: flex;
  justify-content: center;
}
.Pomodoro .Pomodoro__container .Pomodoro__text1 {
  display: flex;
  justify-content: center;
  max-width: 694px;
  min-height: 120px;
  margin: 0px 0px 24px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}
.Pomodoro .Pomodoro__container .Pomodoro__text2 {
  max-width: 694px;
  min-height: 40px;
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.Pomodoro .Pomodoro__container .Pomodoro__text2 .Pomodoro__img {
  width: 40px;
  height: 40px;
  margin: 0px 16px 0px 0px;
}
.Pomodoro .Pomodoro__container .Pomodoro__text2 .Pomodoro__img img {
  border-radius: 50%;
}
.Pomodoro .Pomodoro__container .Pomodoro__text2 .Pomodoro__p {
  font-size: 20px;
  font-weight: 600;
}
.Pomodoro .Pomodoro__container .Pomodoro__text2 .Pomodoro__p .Pomodoro__span {
  color: #0d6efd;
}

.ourblog {
  display: flex;
  flex-direction: column;
  min-height: 1105px;
  background-color: white;
  padding: 48px 0px;
}
.ourblog .ourblog__container {
  min-height: 913px;
  margin: 48px 60.5px;
  padding: 0px 48px;
}
.ourblog .ourblog__container .ourblog__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.ourblog .ourblog__container .ourblog__text h2 {
  font-size: 32px;
  margin: 0px 0px 8px;
}
.ourblog .ourblog__container .ourblog__text p {
  display: flex;
  justify-content: center;
  max-width: 518px;
  font-size: 20px;
  margin: 0px 0px 48px;
  color: #6c757d;
  font-weight: 400;
}
.ourblog .ourblog__container .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ourblog .ourblog__container .card .card__div {
  margin: 0px 0px 48px;
  padding: 0px 48px;
  max-width: 400px;
}
.ourblog .ourblog__container .card .card__div .card__border {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 300px;
  height: 450px;
  border-radius: 6px;
}
.ourblog .ourblog__container .card .card__div .card__border .card__text {
  padding: 30px 30px;
}
.ourblog .ourblog__container .card .card__div img {
  width: 300px;
  height: 200px;
  border-radius: 6px;
}
.ourblog .ourblog__container .card .card__div a {
  cursor: pointer;
}
.ourblog .ourblog__container .card .card__div a div {
  max-width: 50px;
  text-align: center;
  background-color: #0d6efd;
  border-radius: 6px;
  margin: 10px 0px;
}
.ourblog .ourblog__container .card .card__div a h5 {
  font-size: 20px;
  color: #212529;
  margin: 10px 0px;
}
.ourblog .ourblog__container .card .card__div a p {
  max-width: 375px;
}

.card__column {
  display: flex;
  flex-direction: row;
}

.ourblog__signup {
  display: flex;
  justify-content: center;
}

.Sign__up {
  margin: 48px 0px 0px;
  padding: 48px;
  background-color: #0d6efd;
  width: 1224px;
  color: #f8f9fa;
  min-height: 163px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.Sign__up .signup__text1 {
  font-size: 28px;
  min-height: 42px;
}
.Sign__up .signup__text2 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5019607843);
  min-height: 24px;
}
.Sign__up .signup__register input {
  border: none;
  width: 253px;
  height: 38px;
  padding: 6px 12px;
  font-size: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.Sign__up .signup__register button {
  width: 80px;
  height: 38px;
  background-color: #0d6efd;
  color: #f8f9fa;
  border-style: solid;
  margin: 0px 0px 0px -5px;
  border-color: #f8f9fa;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 16px;
}
.Sign__up .signup__register button:hover {
  background-color: #f8f9fa;
  color: #212529;
}
.Sign__up .signup__register .register__div {
  min-height: 21px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-top: 6px;
}

@media screen and (max-width: 992px) {
  .card__column {
    display: flex;
    flex-direction: column;
  }
  .Sign__up {
    display: flex;
    flex-direction: column;
  }
}
.hero {
  padding: 48px 0px;
  background-color: white;
  min-height: 500px;
}
.hero .hero__container {
  display: flex;
  justify-content: center;
  padding: 0px 48px;
  margin: 48px 60.5px;
}
.hero .hero__container .hero__div {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 712px;
  min-height: 400px;
}
.hero .hero__container .hero__div h1 {
  min-height: 96px;
  font-size: 40px;
  text-align: center;
  margin: 0px 0px 16px;
}
.hero .hero__container .hero__div p {
  text-align: center;
  min-height: 120px;
  font-size: 20px;
  margin: 0px 0px 24px;
  color: #6c757d;
}
.hero .hero__container .hero__div a {
  display: flex;
  justify-content: center;
  background-color: #0d6dfd;
  width: 162px;
  height: 48px;
  padding: 8px 16px;
  color: white;
  text-align: center;
  border-radius: 6px;
}

.middle {
  display: flex;
  justify-content: center;
  padding: 48px 0px;
  min-height: 464px;
  background-color: #f8f9fa;
}
.middle .middle__div {
  padding: 0px 48px;
  margin: 48px 105px;
  display: flex;
  flex-direction: row;
}
.middle .middle__div .middle__text {
  max-width: 456px;
  min-height: 226px;
}
.middle .middle__div .middle__text h2 {
  margin: 0px 0px 12px;
  font-size: 32px;
}
.middle .middle__div .middle__text p {
  font-size: 20px;
  font-weight: 400;
  min-height: 108px;
  color: #6c757d;
}
.middle .middle__div img {
  max-width: 408px;
  height: 207px;
  margin: 0px 30px;
}

@media screen and (max-width: 992px) {
  .middle {
    display: flex;
    justify-content: center;
  }
  .middle .middle__div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.middle2 {
  padding: 48px 0px;
  display: flex;
  justify-content: center;
  min-height: 464px;
  background-color: white;
}
.middle2 .middle__div2 {
  padding: 0px 48px;
  margin: 48px 105px;
  display: flex;
  flex-direction: row-reverse;
}
.middle2 .middle__div2 .middle__text {
  max-width: 456px;
  min-height: 226px;
}
.middle2 .middle__div2 .middle__text h2 {
  margin: 0px 0px 12px;
  font-size: 32px;
}
.middle2 .middle__div2 .middle__text p {
  font-size: 20px;
  font-weight: 400;
  min-height: 108px;
  color: #6c757d;
}
.middle2 .middle__div2 img {
  max-width: 408px;
  height: 207px;
  margin: 0px 30px;
}

@media screen and (max-width: 992px) {
  .middle2 .middle__div2 {
    display: flex;
    flex-direction: column;
  }
}
.ourteam {
  max-width: 100%;
  min-height: 594px;
  background-color: #f8f9fa;
}
.ourteam .ourteam__container {
  width: 100%;
  min-height: 405px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 100px;
}
.ourteam .ourteam__container .ourteam__text {
  max-width: 1224px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.ourteam .ourteam__container .ourteam__text h2 {
  max-width: 100%;
  min-height: 38px;
  font-size: 32px;
  color: #212529;
}
.ourteam .ourteam__container .ourteam__text p {
  max-width: 100%;
  min-height: 30px;
  font-size: 20px;
  color: #6C757D;
}
.ourteam .ourteam__container .ourteam__div {
  max-width: 1224px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.ourteam .ourteam__container .ourteam__box {
  max-width: 270px;
  min-height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ourteam .ourteam__container img {
  max-width: 170px;
  min-height: 140px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.ourteam .ourteam__container h5 {
  font-size: 20px;
  color: #212529;
  max-width: 150px;
  min-height: 24px;
}
.ourteam .ourteam__container .ourteam__box__div {
  max-width: 100%;
  min-height: 24px;
  font-size: 16px;
  color: #6C757D;
}

@media screen and (max-width: 992px) {
  .ourteam__div {
    display: flex;
    flex-direction: column;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1313px;
  min-height: 1148px;
  background-color: white;
  padding: 48px 0px;
}
.contact .contact__container {
  max-width: 1140px;
  min-height: 1052px;
  padding: 0px 48px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.contact .contact__container .contact__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1048px;
  height: 740px;
  padding: 48px;
  background-color: #f0f2f5;
}
.contact .contact__container .contact__div .contact__text {
  max-width: 948px;
  min-height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contact__container .contact__div .contact__text h2 {
  max-width: 948px;
  width: 100%;
  min-height: 48px;
  font-size: 40px;
  margin-bottom: 8px;
}
.contact .contact__container .contact__div .contact__text p {
  max-width: 948px;
  width: 100%;
  font-size: 20px;
  min-height: 20px;
  margin-bottom: 12px;
}
.contact .contact__container .contact__div .contact__text .contact__icon {
  width: 50px;
  height: 50px;
  background-color: #0066ff;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  margin-bottom: 6px;
}
.contact .contact__container .contact__div .contact__text .contact__icon i {
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact__container .contact__div .contact__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  gap: 20px;
  width: 500px;
}
.contact .contact__container .contact__div .contact__input input {
  border-radius: 7px;
  max-width: 1500px;
  width: 100%;
  padding: 12px 6px;
  border: 1px solid black;
}
.contact .contact__container .contact__div .contact__input textarea {
  border-radius: 7px;
  max-width: 1500px;
  width: 100%;
  padding: 12px 6px;
  border: 1px solid black;
}
.contact .contact__container .contact__div .contact__input a {
  background-color: #0d6efd;
  border-radius: 6px;
  width: 200px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f9fa;
  font-weight: 500;
}

.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.cont .coll {
  width: 273px;
  height: 163px;
  padding: 10px 24px;
}
.cont .coll .col {
  width: 50px;
  height: 50px;
  background-color: #0066ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 12px;
}
.cont .coll .col i {
  color: #f0f2f5;
  font-size: 20px;
}
.cont .coll h5 {
  font-size: 20px;
  margin: 0px 0px 8px;
}
.cont .coll p {
  font-size: 16px;
  color: #6c757d;
}

@media screen and (max-width: 992px) {
  .contact__input {
    max-width: 200px;
  }
  .contact__div {
    max-width: 200px;
  }
  .contact__container {
    margin: 0px 0px;
    padding: 0px 0px;
    max-width: 250px;
  }
}
.pricing {
  min-height: 850px;
  padding: 48px 0px;
}
.pricing .pricing__container {
  padding: 48px 48px;
  margin: 0px 48px;
  text-align: center;
}
.pricing .pricing__container .pricing__text {
  margin-bottom: 20px;
}
.pricing .pricing__container .pricing__text h1 {
  font-size: 40px;
  margin: 0px 0px 8px;
  min-height: 48px;
  font-weight: 600;
}
.pricing .pricing__container .pricing__text p {
  font-size: 20px;
  min-height: 30px;
  color: #6c757d;
}
.pricing .pricing__container .pricing__box {
  max-width: 1224px;
  min-height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 30px;
  flex-wrap: wrap;
}
.pricing .pricing__container .pricing__card {
  width: 375px;
  min-height: 510px;
  border: 1px solid grey;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pricing .pricing__container .pricing__head {
  max-width: 278px;
  min-height: 22px;
  font-size: 14px;
  font-weight: bold;
  color: #6c757d;
}
.pricing .pricing__container .pricing__span {
  max-width: 278px;
  min-height: 68px;
  font-weight: bolder;
}
.pricing .pricing__container .pricing__span .span1 {
  color: #212529;
  max-width: 64px;
  min-height: 75px;
  font-size: 40px;
}
.pricing .pricing__container .pricing__span .span2 {
  font-size: 16px;
  color: #6c757d;
  max-width: 37px;
  min-height: 21px;
}
.pricing .pricing__container li {
  max-width: 278px;
  min-height: 24px;
}
.pricing .pricing__container li .fa-check {
  color: #0d6efd;
  width: 16px;
  height: 16px;
}
.pricing .pricing__container li .fa-x {
  color: #6c757d;
  width: 16px;
  height: 16px;
}
.pricing .pricing__container ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pricing .pricing__container .pricing__btn {
  width: 278px;
  min-height: 37px;
  background-color: #FFFFFF;
  border: 1px solid #0d6efd;
  border-radius: 10px;
  color: #0d6efd;
  font-size: 16px;
  margin-top: 20px;
}
.pricing .pricing__container .pricing__btn:hover {
  cursor: pointer;
  transition: 1s;
  background-color: #085ddc;
  color: #FFFFFF;
}
.pricing .pricing__container .pricing__btn2 {
  background-color: #0d6efd;
  color: #ffffff;
  width: 278px;
  min-height: 37px;
  border: 1px solid #0d6efd;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 16px;
}

.footer__div {
  background-color: black;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.footer__div .footer__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer__div .footer__container ul {
  color: aliceblue;
  display: flex;
  gap: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.footer__div .footer__text {
  color: white;
  padding-right: 100px;
}

@media screen and (max-width: 1992px) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */